.dashboard-body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #FFF2E0;
  color: #000;
}

.navbar {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 45px 40px 30px;
        background-color: #FFF6E1;
    }

    .logoClamaBoo {
        height: 150px;
        margin-left: 20px;
    }

    .navbar nav ul {
        display: flex;
        gap: 25px;
        list-style: none;
    }

    .navbar nav ul li {
        font-size: 18px;
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 12px;
        transition: 0.2s;
    }

    .navbar nav ul li.active {
        background: #FFE0A3;
        font-weight: 600;
    }

    .navbar nav ul li.active {
        background: #FFE0A3;
        font-weight: 600;
    }

@media screen and (min-width: 1024px) {
    
}