.doar-container {
  min-height: 100vh;
  padding: 100px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-family: 'Poppins', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.doar-container h1 {
  color: #5d9b50;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  animation: fadeInDown 0.8s ease;
  line-height: 1.3;
}

.doar-options {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  margin-left: 109px;

}

.doar-card {
  position: relative;
  background: rgba(255, 255, 255, 0.12);
  border: 2px solid #5d9b50;
  border-radius: 25px;
  padding: 55px 40px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
}

.doar-card:hover {
  transform: translateY(-1px) scale(1.03);
  border: 2px solid #5d9b5063;
}

.emoji-icon {
  width: 100%;
  font-size: 4.8rem;
  display: block;
  margin-bottom: 20px;
  opacity: 0.95;
}

.doar-card h2 {
  color: #5d9b50;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.doar-card p {
  color: #5d9b50;
  font-size: 1.1rem;
  opacity: 0.9;
}

.doar-card.pet {
  border: 2px solid #5d9b50;
}

.doar-card.pet:hover {
  border: 2px solid #5d9b50;
  border: 2px solid #5d9b5063;
}

@media (min-width: 1921px) {
  .doar-container{
    margin-top: 100px;
  }
  .doar-options {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .doar-card {
    width: 380px;
  }

  .emoji-icon{
    width: 300px;
  }

  .doar-wrapper{
    width: 600px;
  }

  .doar-card{
    width: 550px;
  }
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-40px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.07); }
  100% { transform: scale(1); }
}
