.perfil-container {
  min-height: calc(100vh - 80px);
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.perfil-content {
  max-width: 1100px;
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.avatar-placeholder {
  width: 100%;
  height: 100%;
  background: #e67e22;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.avatar-placeholder span {
  font-size: 90px;
  margin: 0;
  font-weight: 500;
  color: #fff;
  background-color: #e67e22;
}

.perfil-info {
  background: white;
  padding: 40px 30px;
  border-radius: 30px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.10);
  text-align: center;
  width: 380px;
  flex-shrink: 0;
}

.perfil-avatar {
  width: 180px;
  height: 180px;
  margin: 0 auto 25px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #FFE8B3;
  background: #f0f0f0;
}

.perfil-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.perfil-nome {
  margin: 15px 0 25px;
  font-size: 2rem;
  color: #2c3e50;
  background: #f0f0f0;
  padding: 12px 30px;
  border-radius: 50px;
  display: inline-block;
  font-weight: 600;
}

.perfil-dados {
  margin: 25px 0;
  text-align: left;
  width: 100%;
}

.dado {
  margin-bottom: 20px;
}

.dado strong {
  display: block;
  color: #7f8c8d;
  font-size: 1.1rem;
  margin-bottom: 4px;
}

.dado p {
  font-size: 1.3rem;
  color: #2c3e50;
  font-weight: 500;
}

.btn-editar-perfil {
  background: #e67e22;
  color: white;
  border: none;
  padding: 16px 40px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100%;
}

.btn-editar-perfil:hover {
  background: #d35400;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(211, 84, 0, 0.4);
}

.perfil-menu {
  background: #e0e0e0;
  padding: 30px 25px;
  border-radius: 30px;
  width: 280px;
  flex-shrink: 0;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.10);
}

.menu-item {
  background: white;
  padding: 18px 20px;
  margin-bottom: 18px;
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}

.menu-item:hover {
  background: #f39c12;
  color: white;
  transform: translateX(10px);
}

.menu-item:last-child {
  margin-bottom: 0;
}

@media(min-width: 1520px){
  .perfil-container{
    margin-top: 200px;
  }
}